.App {
  text-align: center;
  
}


body {
  
  background-image: url('./Images/dev-wallpaper.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  
}


/* Header Text ******* */


.App-header {
  background: url("./Images/dark-code.jpg") center;
  background-size: contain;
  margin: auto;
  margin-top: 40px;
  width: 100%;
  background-position: center;
  text-align: center;
  
}

h1 {
  color:whitesmoke;
  /* border: 4px white solid; */
  mix-blend-mode: screen;
  font:  5.5rem monospace;
  text-align: center;
  margin: 0;
  cursor: pointer;
  transition: text-indent 0.5s;
  font-family: "Jacques Francois Shadow", cursive;
  background-color: rgba(50, 6, 43, 1);
  outline: 4px rgba(50, 6, 43, 1) solid;
  letter-spacing: 0.1em;
}

.text:hover {
  text-indent: 5px;
  transition: text-indent 0.5s;
}

.text:hover::before {
  display: inline-block;
  content: ">_";
  
}

h6{
  color:rgb(236, 233, 233);
  /* border: 4px white solid; */
  mix-blend-mode: screen;
  font:  3rem monospace;
  text-align: center;
  margin: 0;
  cursor: pointer;
  transition: text-indent 0.5s;
  font-family: "Jacques Francois Shadow", cursive;
  background-color: rgba(50, 6, 43, 1);
  outline: 4px rgba(50, 6, 43, 1) solid;
  letter-spacing: 0.1em;
}



/* End of Header Text ^^^^^^*******^^^^^^^ */




/* ********Footer *********** */
.foot-container {
  background-color: black;
  bottom: 0;
  width: 100%;
  position: relative ;
  margin-top: 4rem;
}
 
.links {
  font-size: 20px;
  position: relative;
  color: #924a8c;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* text-shadow: .5px .5px rgb(174, 171, 171); */
  padding-bottom: -2rem
}

.team {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-size: 20px;
  color: purple;
  /* text-shadow: .5px .5px rgb(174, 171, 171) */
}

div .logo {
  
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 2rem;
  width: 100%;
  margin-top: -1rem;
}

/* ****^^^^^End of Footer^^^******** */


.Main {
  width: 80%;
  margin: auto;
  margin-top: 3rem;
  border: .5rem solid #ed0dda68;
  background-color: aliceblue;
  padding-bottom: 2rem;
}

.Main-container {
margin-top: 10rem;
}

.Main-text {
  padding: 2rem;
  font-size: 2.5rem;
}

.letters{
  padding: 2rem;
}

.Navbar{
  text-align: center;
}
 #home-button{
  margin:3rem;
  width: 20%;
}
/*home-button
#next-letter {
  position: relative;
  width: 120px;
  height: 80px;
  background: black;
  border-radius: 10px;
}

  
#next-letter:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 13px solid transparent;
    border-bottom-color: black;
    border-top: 0;
    margin-left: -13px;
    margin-top: -13px;
  } */


  /* *************Button animation***** */

  /* * {
    box-sizing: border-box;
} */
button {
font-size: 2em;
background: black;
color: #fff;
border: 0.25rem solid #800a76;
padding: 20px;
margin: 1rem;
position: relative;
z-index: 1;
overflow: hidden;

}
button:hover {
color: #800a76;
}
button::after {
content: "";
background: #ecf0f1;
position: absolute;
z-index: -1;
padding: 20px;
display: block;

}
button.button::after {
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(45deg) scale(0, 1);
}
button.button:hover::after {
  transform: skewX(45deg) scale(1, 1);
}
  



  /* **^^^^^^End button animation^^******* */
 /* button {
  background-color: black;
  border: 3px solid #800a76;
  color: white;
  padding: 20px;
}

button:hover {
  background-color: #800a76;
}   */
