/* Header Text ******* */


.App-header {
  background: url("./Images/dark-code.jpg") center;
  background-size: contain;
  margin: auto;
  margin-top: 40px;
  width: 100%;
  background-position: center;
  
}

h1 {
  color:whitesmoke;
  /* border: 4px white solid; */
  mix-blend-mode: screen;
  font:  4.5rem monospace;
  text-align: center;
  margin: 0;
  cursor: pointer;
  transition: text-indent 0.5s;
  font-family: "Jacques Francois Shadow", cursive;
  background-color: rgba(50, 6, 43, 1);
  outline: 4px rgba(50, 6, 43, 1) solid;
  letter-spacing: 0.1em;
}

.text:hover {
  text-indent: 5px;
  transition: text-indent 0.5s;
}

.text:hover::before {
  display: inline-block;
  content: ">_";
  /* content: "✈︎"; */
}

h6{
  color:rgb(236, 233, 233);
  /* border: 4px white solid; */
  mix-blend-mode: screen;
  font:  3rem monospace;
  text-align: center;
  margin: 0;
  cursor: pointer;
  transition: text-indent 0.5s;
  font-family: "Jacques Francois Shadow", cursive;
  background-color: rgba(50, 6, 43, 1);
  outline: 4px rgba(50, 6, 43, 1) solid;
  letter-spacing: 0.1em;
}



/* End of Header Text ^^^^^^*******^^^^^^^ */

body {
  
  background-image: url('./Images/dev-wallpaper.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  
}

.App {
  text-align: center;
  
}


.Footer {
  font-size: 2rem;
  background-color: black;
  color: white;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-top: 2rem;
  padding: 15px;
  text-shadow: 2px 2px #800a76;
}




.Main {
  width: 80%;
  margin: auto;
  margin-top: 3rem;
  border: .5rem solid #5c0855;
  background-color: #78f9dd69;
  color: white;
  text-shadow: 2px 2px black;
  border-radius: 25px;
  padding: 20px;
  font-family: 'Redressed', cursive;
 
  
}

.Main-container {
margin-top: 10rem;

}

.Main-text {
  padding: 2rem;
  font-size: 1.75rem;
  letter-spacing: 0.1em;

}

/* Button animation ************** */

* {
  box-sizing: border-box;
  
}


button[class^="button"]::after {
  transition: all 0.3s ease;
}
button[class^="button"]:hover::after {
  transition: all 0.3s ease-out;
}

button {
  font-size: 1em;
  background: rgba(255, 255, 0, 0.837);
  color: black;
  border: 0.25rem solid yellow;
  padding: 0.85em 0.75em;
  margin: 1rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-shadow: 1px 1px #db34dbd4;
  
}
button:hover {
  color: #db34dbd4;
  text-shadow: 1px 1px black;
}
button::after {
  content: "";
  background:#0df0e1 ;
  position: absolute;
  z-index: -1;
  padding: 0.85em 0.75em;
  display: block;
}
button.button::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: scale(0, 0) rotate(-180deg);
}
button.button:hover::after {
  transform: scale(1, 1) rotate(0deg);
}



/* End of button animation ^^^^^^^******* */


/* button {
  background-color: black;
  border: 3px solid #800a76;
  color: white;
  padding: 20px;
}

button:hover {
  background-color: #800a76;
}  */

